{% extends 'base.html' %}
{% block title %}All messages{% endblock %}
{% block content %}
{% for message in messages %}
        <div class="card mb-3">
            <div class="card-body">
                 <h1
                    class="list-group-item list-group-item-action">
                        {{ message.text }}
                </h1>
                <p class="card-text">
                    <small class="text-muted">
                        {{ message.author }} - {{ message.published_date }}
                    </small>
                </p>
            </div>
        </div>
{% endfor %}
{% endblock %}